<header class="fixed-top">
  <nav class="navbar navbar-expand-lg navbar-light logo" style="background-color: #C3C6C6;">
<!--    <ng-template #pc>-->
<!--      <a *ngIf="!jwtService.isLogged()" class="nav-item nav-link active" routerLink="/connexion">Connexion</a>-->
<!--      <a *ngIf="jwtService.isLogged()" class="nav-item nav-link active" (click)="onLogout()">Deconnexion</a>-->
<!--    </ng-template>-->
          <a *ngIf="!jwtService.isLogged()" class="nav-item nav-link active" routerLink="/connexion">Connexion</a>

        <a *ngIf="jwtService.isLogged()" class="nav-item nav-link active" (click)="onLogout()" routerLink="">Deconnexion</a>


<!--    <a *ngIf="mobileQuery.matches else pc" style="color: black;" routerLink="/connexion"><i class="material-icons">-->
<!--      power_settings_new-->
<!--    </i></a>-->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a *ngIf="jwtService.isLogged()" class="nav-item nav-link active" href="#" tabindex="-1" aria-disabled="true"
           routerLink="">Home <span class="sr-only">(current)</span></a>
        <a *ngIf="jwtService.isLogged()" class="nav-item nav-link active" href="#" tabindex="-1" aria-disabled="true"
           routerLink="/profil">{{jwtService.getId()}}</a>
        <a *ngIf="jwtService.isLogged()" class="nav-item nav-link active" href="#" tabindex="-1" aria-disabled="true"
           routerLink="/recherche">Recherche</a>

      </div>
    </div>
  </nav>
</header>
