.navbar {
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
}
.logo {
  position: relative;
  /*height: 6%;*/
  padding: 1%;
  background: right/15% url("src/assets/Images/logo-la-poste.png") no-repeat;

  /*z-index: 0;*/
  display: flex;

}




@media (max-width: 990px) {
  .logo {
    position: relative;
    height: 6%;
    background: #C3C6C6 center/33% url("src/assets/Images/logo-la-poste.png") no-repeat;
    min-height: 8%;
    display: flex;
    width: 100%;
    padding: 1%;
  }

}
