.card {
  /*max-width: 900px;*/
  min-width: 500px;
  border-radius: 10px;
  margin: 10% 3% 10%;
  padding: 2%;
  opacity: 0.9;
  text-overflow: ellipsis;
}
td
{
  margin: 10px;
}

@media (max-width: 990px) {
  .card {
    max-width: 400px;
    margin: 15% 6% 6% 6%;
    border-radius: 10px;
    opacity: 0.9;
  }
}

