.body{
  position: relative;
  height: 100%;
  background: darkgray url("src/assets/Images/space-grey-ipad-air-with-graph-on-brown-wooden-table-187041.jpg") no-repeat center top ;
  background-size: cover;
}
