.container
{
  margin: 0 auto;
}
.card {
  float: left;
  max-width: 350px;
  margin: 8% 4% 4% 4%;
  border-radius: 10px;
  opacity: 0.9;
}


.dropdown {
  /*background: #C3C6C6;*/
  color: #605F5F;
margin-bottom: 10px;
}
.btn
{
  color: black;
}
@media (max-width: 640px){
  .card {
    max-width: 350px;
    margin: 15% 6% 6% 6%;
    border-radius: 10px;
    opacity: 0.9;
  }


}
