<div class="card">
  <button type="button" class="btn btn-secondary btn-lg" [routerLink]="'/recherche'">Rechercher</button>

  <div class="card-body">
    <h6 class="card-title">Résultat des suivi des WebService</h6>
    <tr *ngFor="let svSuivi of svSuivis">
      <td>{{svSuivi.webService}} </td>
      <td>{{svSuivi.date | date: "dd-MM-yyyy"}} </td>
      <td>{{svSuivi.heureDebut}} </td>
      <td>{{svSuivi.heureFin}} </td>
      <td>{{svSuivi.statutRetour}} </td>
      <td>{{svSuivi.statutHttp}} </td>
    </tr>
  </div>
</div>
