.container{
  margin-top: 10%;
  opacity: 0.9;
  text-align: center;
max-width: 1500px;
}
.card{
  border-radius: 10px;
}
.card-text
{
  margin: 4%;
text-align: left;
}
.admin{
  float: right;
}
.contact
{
  float: bottom;
}

