<div class="container">
  <div class="card">
    <div class="card-body">
      <h2 class="card-title">Profil utilisateur</h2>
      <div class="card-text">
      <h3>{{correspondants[0].id}}</h3>
      <h3>{{correspondants[0].nom}}, {{correspondants[0].prenom}}</h3>
      <h3>{{correspondants[0].fonction}}</h3>
      <h3>Contact: </h3>
      <h3>{{correspondants[0].email}}</h3>
      <h3>{{correspondants[0].telephone}}</h3>
      <h3>Profil: Utilisateur</h3>
      </div>
    </div>
  </div>
</div>
